
body{
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    margin-bottom: 5%;
    font-family: 'Kumbh Sans',
    sans-serif;
    font-size: 15px;
}

#main{
    background-image: url("../images/bg-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-position: top 1px center;
    margin-top: 30%;
    padding: 2% 7%;
    background-color: white;
    border-radius: 25px;
    position: relative;
}

.top-container{
    position: relative;
    margin: 10% 0 10%;
}

.title{
    font-weight: 700;
    margin-bottom: 3%;
}

.img-box{
    position: absolute;
    width: 30%;
    visibility: hidden;
}

.img-woman {
    visibility: initial;
    position: absolute;
    bottom: -50px;
    right: 15%;
}

.click-text {
    border-bottom: 1px solid hsl(240, 2%, 84%);
    margin-bottom: 2%;
}

.info-text {
    margin-bottom: 2%;
    color: rgb(146, 146, 146);
}

.attribution {
    margin: 3%;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(227, 34%, 73%);
    text-decoration: none;
}


@media (min-width:992px) {

    #main {
        background-image: url("../images/illustration-woman-online-desktop.svg"), url("../images/bg-pattern-desktop.svg");
        background-repeat: no-repeat;
        background-position: left -100px center,
            left -500px bottom -200px;
        margin: 3% 10%;
        padding: 5%;
        background-color: white;
        border-radius: 25px;
        position: relative;
    }

    .img-box {
        position: relative;
        visibility: initial;
        top: 49%;
        left: -35%;
    }

    .img-woman {
        visibility: hidden;
        display: none;
        position: absolute;
        top: -20%;
        right: 25%;
    }
}